[submodule "Dokan"]
	path = Dokan
	url = https://github.com/Shudipt0/Dokan.git
[submodule "GreenDev"]
	path = GreenDev
	url = https://github.com/Shudipt0/GreenDev.git
[submodule "agency_client"]
	path = agency_client
	url = https://github.com/Shudipt0/agency_client.git
