PORT=PORT
HOST=HOST
USER=USER
PASSWORD=PASSWORD
DATABASE=DATABASE
# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET